@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f7f7f7;
}

.icon-pollo{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.7)),  url(../img/popular-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.icon-pollo h1{
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

.icon-pollo h3{
    font-size: 20px;
    display: block;
    color: #ccc;
}

.logo{
    font-size: 1.9rem;
    font-weight: bolder;
    color: #130f40;
    text-decoration: none;
}

.logo:hover{
    color: #130f40;
}

.img-step1{
    width: 171px;
}

.nav-bar{
    list-style: none;
    display: flex;
    width: 100%;
}

.nav-bar a{
    text-decoration: none;
    color: #666;
    margin: 0 1rem;
}

.dropdown-menu{
    overflow: hidden;
}

.nav-bar a:hover{
    color: orangered;
}

i{
    padding-right: .5rem;
    color: orangered;
}

.icons i{
    padding: 7px;
    font-size: 2rem;
    color: #130f40;
    border-radius: .5rem;
    cursor: pointer;
    background: #f7f7f7;
}

.com-1 h3{
    color: #27ae60;
    font-weight: bolder;
}

.com-1 h1{
    font-size: 42px;
    width: 373px;
    color: #130f40;
    font-weight: bolder;
}

.com-1 p{
    font-size: 18px;
    margin-bottom: 15px;
}

.icons i:hover{
    background: white;
    color: orangered;
}

.img-pollo{
    animation: movimiento 2.5s linear infinite;
}

.btn-mio{
    color: #27ae60;;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #27ae60;
    transition: all .3s ease;
}

.btn-mio2{
    color: #fff;
    background: #cd9452;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #cd9452;
    transition: all .3s ease;
}

.btn-mio:hover{
    color: #fff;
    background: #27ae60;
}

.ctn-1{
    margin-right: 50px;
}

.c-3{
    display: flex;
    align-items: center;
}

.caracteristicas h2{
    color: #130f40;
}

.caracteristicas h2 span{
    background: #ff7800;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.img-1{
    width: 50px;
}

.ctn-2{
    text-align: center;
    gap: 2rem;
}

.ctn-2 h2{
    width: 200px;
    margin: auto;
    margin-top: 13px;
    color: #666;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 20px;
}

.ctn-2 p{
    margin-top: 10px;
    color: #999;
}

.ctn-c{
    background: #fff;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.ctn-3 img{
    border-radius: 10px;
    cursor: pointer;
}

.gal img{
    height: 195px;
    object-fit: cover;
}

.gal2 img{
    margin-top: 10px;
}

.carousel-inner{
    height: 80vh;
}

.carousel-inner img{
    border-radius: 10px;
    height: 80vh;
}

.platos-item img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    cursor: pointer;
}

.ctn-6 a{
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.me-2{
    width: 250px;
}

.hder{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ctn-7{
    width: 350px;
    padding: 20px;
}

.ctn-form{
     height: 410px;
     border-radius: 5px;
}

.ctn-7 form{
    padding: 20px;
}

.ctn-7 form:last-child{
    color: #9be5aa;
}

.usuario-ctn{
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
    width: 100%;
}

.usuario-ctn{
    margin-bottom: 20px;
}

.ctn-7 label{
    font-weight: bold;
    margin-bottom: 10px;
    color: #130f40;
}

.btn-submit {
    background: #27ae60;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
}

.pass-for{
    font-size: 14px;
    cursor: pointer;
}

.title-menu{
    font-family: 'Redressed', cursive;
    color: #27ae60;
}

.title-peruvian{
    font-family: 'Dosis', sans-serif;

}

.img-ctn1{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-ctn1 h4, .img-ctn2 h4{
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0;
    font-size: 25px;
}

.img-ctn1 h3, .img-ctn2 h3{
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 26px;
}

.img-ctn2{
    width: 100%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-mio3{
    color: #fff;
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #cd9452;
    transition: all .3s ease;  
}

.btn-mio3:hover{
    background: #cd9452;
}

/*    height: 450px;
*/

.menu-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)), url(../img/menu-1.jpg);
    background-size: cover;
}

.menu-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-2.jpg);
    background-size: cover;
    height: 450px;
}

.menu-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-3.jpg);
    background-size: cover;
    height: 225px;
}
.menu-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-4.jpg);
    background-size: cover;
    height: 450px;
}
.menu-5{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-5.jpg);
    background-size: cover;
    height: 600px;
}
.menu-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-6.jpg);
    background-size: cover;
    height: 700px;

}
.menu-7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-7.jpg);
    background-size: cover;
    height: 600px;
}
.menu-8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-8.jpg);
    background-size: cover;
    height: 225px;

}
.menu-9{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-9.jpg);
    background-size: cover;
    height: 450px;
}
.menu-10{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-10.jpg);
    background-size: cover;
    height: 450px;
}
.menu-11{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-11.jpg);
    background-size: cover;
    height: 275px;
}
.menu-12{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-12.jpg);
    background-size: cover;
    height: 400px;
}
.menu-13{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/menu-13.jpg);
    background-size: cover;
    height: 500px;
}

/**JUGOS**/

.jugo-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugos-1.jpg);
    background-size: cover;
}
.jugo-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-2.jpg);
    background-size: cover;
    height: 450px;
}
.jugo-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-3.jpg);
    background-size: cover;
    height: 225px;
}
.jugo-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-4.jpg);
    background-size: cover;
    height: 450px;
}
.jugo-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-5.jpg);
    background-size: cover;
    height: 600px;
}
.jugo-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-6.jpg);
    background-size: cover;
    height: 700px;
}
.jugo-7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-7.jpg);
    background-size: cover;
    height: 600px;
}
.jugo-8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-8.jpg);
    background-size: cover;
    height: 225px;
}
.jugo-9{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-9.jpg);
    background-size: cover;
    height: 450px;
}
.jugo-10{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-10.jpg);
    background-size: cover;
    height: 450px;
}
.jugo-11{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-11.jpg);
    background-size: cover;
    height: 275px;
}
.jugo-12{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-12.jpg);
    background-size: cover;
    height: 400px;
}
.jugo-13{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(../img/jugo-13.jpg);
    background-size: cover;
    height: 500px;
}

@media screen and (max-width: 522px){
    .container-lg{
        justify-content: center;
    }
    .c-4{
        margin: auto;
    }
    .com-1 h1{
        font-size: 30px;
    }
    .com-1{
        text-align: center;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}